// phone
@media only screen and (max-width: 768px) {
    .personal-wrap {
      margin-top: -20px;
      .banner {
        width: 100%;
        height: 15.625rem;
        background: url("@/assets/images/music_wall.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .personal-main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .left {
          width: 100%;
          position: relative;
          top: -100px;
          margin-right: 20px;
          .user-box {
            background: #fff;
            border-radius: 5px;
            padding-bottom: 30px;
            .background {
              width: 100%;
              height: 140px;
              position: relative;
              border-radius: 5px 5px 0 0;
              background: url(@/assets/images/search_bg.jpg);
              background-size: cover;
              &::before {
                border-radius: 5px 5px 0 0;
              }
            }
            .card {
              margin-top: -20px;
              padding: 0 15px 0 30px;
              width: 100%;
              .avatar {
                width: 64px;
                height: 64px;
                flex-shrink: 0;
                z-index: 2;
                position: relative;
                img {
                  width: 64px;
                  height: 64px;
                  border-radius: 3px;
                }
              }
              .info {
                width: 100%;
                padding-top: 20px;
                margin-left: 15px;
                .name {
                  font-weight: 600;
                  font-size: 16px;
                }
                .sign-btn {
                  padding: 3px 15px;
                  font-size: 12px;
                  color: #fff;
                  border-radius: 30px;
                  &.sign-btn-active {
                    background: #fa2800;
                    cursor: pointer;
                    border: 1px solid #fa2800;
                  }
                }
              }
            }
            .desc {
              padding: 0 40px;
              font-size: 13px;
              margin-top: 10px;
              color: #666;
            }
            .profile {
              padding: 0 40px;
              margin-top: 10px;
              .tag {
                position: relative;
                font-size: 13px;
                padding-left: 15px;
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                .lv-icon {
                  font-size: 22px;
                  position: relative;
                  top: 1px;
                }
                .sex-icon {
                  font-size: 14px;
                  margin-left: 5px;
                  font-weight: bold;
                  &.men {
                    color: #4192eb;
                  }
                  &.women {
                    color: #f4606c;
                  }
                }
                .area-icon {
                  font-size: 12px;
                  margin-right: 5px;
                }
                span {
                  font-size: 13px;
                }
                &::before {
                  content: "";
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  background: $color-theme;
                  position: absolute;
                  top: 50%;
                  left: 0px;
                  margin-top: -3px;
                }
              }
            }
            .follow {
              list-style: none;
              display: flex;
              margin: 0 30px;
              margin-top: 15px;
              padding-top: 15px;
              border-top: 1px solid #f9f9ff;
              li {
                width: 33%;
                text-align: center;
                font-size: 14px;
                color: #958ebb;
                span {
                  cursor: pointer;
                  display: block;
                }
              }
            }
            .foot {
              width: 100%;
              padding: 0 30px;
              margin-top: 30px;
              a {
                display: block;
                width: 50%;
                text-align: center;
                margin: 0 3% 10px 3%;
                padding: 10px 0;
                background: #ff416c;
                background: linear-gradient(to right, #ff4b2b, #ff416c);
                color: #fff;
                border-radius: 5px;
                font-size: 14px;
              }
            }
          }
        }
        .center {
          display: none;
        }
        .right {
          top: -50px;
          width: 100%;
          flex-shrink: 0;
          border-radius: 5px;
          background: #fff;
          position: relative;
          padding-bottom: 30px;
          .card-header {
            border-left: 3px solid $color-theme;
            height: 20px;
            padding-left: 1rem;
            margin-bottom: 15px;
            font-weight: bold;
            .icon-like {
              font-size: 20px;
            }
          }
          .module {
            padding: 15px;
            width: 100%;
            border-radius: 8px;
            margin-bottom: 20px;
          }
          .my {
            padding-bottom: 5px;
            ul {
              display: flex;
              flex-wrap: wrap;
              margin: 0 -5px;
              li {
                flex: 0 0 14.285714285714%;
                max-width: 14.285714285714%;
                padding: 0 5px 10px;
                .avatar {
                  width: 100%;
                  border-radius: 3px;
                  img {
                    width: 100%;
                    border-radius: 3px;
                  }
                }
              }
            }
          }
        }
      }
    }
    // 弹框内部样式
    .userFollowWrapper {
      max-height: 65vh;
      overflow: hidden;
      transition: all 0.1s ease-in-out;
      .followItem {
        margin-top: 5px;
  
        .itemWrapper {
          cursor: pointer;
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          border: solid 1px #ccc;
          border-radius: 10px;
  
          .avatarWrapper {
            width: 50px;
            padding: 10px;
            .avatarImg {
              width: 50px;
              height: 50px;
              border-radius: 10px;
            }
          }
  
          .infoWrapper {
            width: 80%;
            margin-left: 20px;
            .nickName {
              font-weight: 600;
              font-size: 1rem;
            }
            .info {
              font-size: 0.5rem;
              display: inline-block;
              width: 100%;
            }
          }
        }
      }
      .loadAfter {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: #fa2800;
          cursor: pointer;
        }
      }
      &:hover {
        padding-right: 5px;
        overflow: auto;
      }
    }
  }