.reveal {
    // font-size: 1rem;
    // font-weight: 700;
    position: relative;

    &::before,&::after{
        content:"";
        height: 100%;
        width:1px;
        position: absolute;
        bottom:0;
        top:0;
        background: #5dd5c8;
        opacity: 0;
    }

    ::v-deep(.revealletter) {
        animation: textFideIn 2.4s forwards;
        opacity: 0;
        transform: scale(0);
        color:#fdfdfd;
    }

    &::before{
        left: 50%;
        animation: leftAni 1.4s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
    }
    &::after{
        right: 50%;
        animation: rightAni 1.4s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
    }
}

@keyframes textFideIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes leftAni {
    50%{
        opacity: 1;
        left: 25%;
    }
    to{
        opacity: 0;
        left: -6%;
    }
}
@keyframes rightAni {
    50%{
        opacity: 1;
        right: 25%;
    }
    to{
        opacity: 0;
        right: -6%;
    }
}